<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Histograms</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'caseMaps/histograms.css' %}">
</head>
<body>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div id="header">
        <div id="branding">
            <h1 id="site-name">
              Histograms: COVID Cases By Demographic
            </h1>
        </div>
    </div>
    <div id="subheader">
      <h4 id="subheader h4">
        <a href="{% url 'home' %}" class="header-tabs"> Home </a>
        <a href="{% url 'chloropleth' %}" class="header-tabs"> Chloropleth </a>
        <a href="{% url 'histograms' %}" class="header-tabs"> Histograms </a>
        <a href="{% url 'regression' %}" class="header-tabs"> Regression </a>
    </h4>
    </div>
    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>
    <!-- <div id="my_dataviz"></div> -->

    <script>
      
      // fetch csv from git
      d3.csv("https://raw.githubusercontent.com/bkennedy2022/427Final/master/processed_data/cases_by_{{ choice }}.csv", function(data) {
      
        // set the dimensions and margins of the graph
      var margin = {
        top: 40, right: 30, bottom: 40, left: 80},
          width = 860 - margin.left - margin.right,
          height = 400 - margin.top - margin.bottom

      if ('{{ choice }}' == 'race')
        margin.left = 200;
      
      // append the svg object to the body of the page
      var svg = d3.select("#my_dataviz")
        .append("svg")
          .style("position", "relative")
          .style("left", '50px')
          .style("top", '50px')
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .style('background-color', 'white')
        .append("g")
          .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")")
          .attr('fill', 'white')

        // determine top bound of x-axis
        var domain_bound = 0
        data.forEach(function(value, index, array) {
          if (Number(value.value) > domain_bound)
            domain_bound = Number(value.value)
        })
        domain_bound = Number(domain_bound) + 100

        // Add X axis
        var x = d3.scaleLinear()
          .domain([0, domain_bound])
          .range([ 0, width])
        
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x))
          .selectAll("text")
            .attr("transform", "translate(-10,0)rotate(-45)")
            .style("text-anchor", "end")
      
        // Y axis
        var y = d3.scaleBand()
          .range([ 0, height ])
          .domain(data.map(function(d) { return d.metric }))
          .padding(1/data.length)

        svg.append("g")
          .call(d3.axisLeft(y))


        // height of the bars
        // if y.bandwidth() > 50:argument

        var tooltip = d3.select("body")
        .append("div")
        .style("position", "absolute")
        .style("z-index", "5")
        .style("visibility", "hidden")
        .style("background", "lightgray")
        .style("padding", "5px")
        .style("border-radius", "2px")

        //Bars
        svg.selectAll("body")
          .data(data)
          .enter().append("rect")
          .attr("x", x(0) )
          .attr("y", function(d) { return (y(d.metric))})
          .attr('fill', 'brown')
          .attr("width", function(d) { return x(d.value) })
          .attr("height",  y.bandwidth() )
          .text(function(d) { return d.value; })
          .on("mouseover", function(d){
            this.setAttribute('fill-opacity','.5')
            tooltip.html(d.metric + "<br>" + d.value + " cases")
            return tooltip.style("visibility", "visible");
          })
          .on("mousemove", function(){
            return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px")
          })
          .on("mouseout", function(){
            this.setAttribute('fill-opacity','1.0')
            return tooltip.style("visibility", "hidden")
          })

          svg.append("text")
            .attr("x", (width / 2))             
            .attr("y", 0)
            .attr('fill', 'black')
            .attr("text-anchor", "middle")  
            .style("font-size", "21px") 
            // .style("z-index", "5")
            .style("text-decoration", "underline")  
            .text("Total # Cases in US By {{ choice }}")
      })
      </script>
</body>