<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'caseMaps/home.css' %}">
</head>
<body>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
	<script src="https://d3js.org/topojson.v1.min.js"></script> 
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <div id="header">
        <div id="branding">
            <h1 id="site-name">
                COVID Diagrams: Home
            </h1>
        </div>
    </div>
    <div id="subheader">
        <h4 id="subheader h4">
            <a href="{% url 'home' %}" class="header-tabs"> Home </a>
            <a href="{% url 'chloropleth' %}" class="header-tabs"> Chloropleth </a>
            <a href="{% url 'histograms' %}" class="header-tabs"> Histograms </a>
            <a href="{% url 'regression' %}" class="header-tabs"> Regression </a>
        </h4>
    </div>
    <!-- Chloropleth "home" page -->
    <div>
        <h2>Covid-19</h2> 
        <p>
            <!-- Paragraph about Covid-19 -->
            The current pandemic has drastically changed the way we live. The following visualizations, 
            focused on cases in the USA, use public data from the Central Disease Control and Prevention (CDC). <br> <br>
            
            <b>Datasets:</b><br>
            <a href="https://data.cdc.gov/Case-Surveillance/COVID-19-Case-Surveillance-Public-Use-Data-with-Ge/n8mc-b4w4">
                COVID-19 Case Surveillance Public Use Data with Geography</a><br>
            <a href="https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36">
                United States COVID-19 Cases and Deaths by State over Time</a><br>
        </p>
        <h3>Covid-19 Total Reported Cases per State</h3> 
        <p>
            The following chloropleth map presents the total number of reported cases per state from 
            January 2020 to April 2021. 
        </p>
    </div>
    <!-- Bar graph page -->
    <div>
        <h3>Cases by Demographic</h3> 
        <p>
            Displayed below are bar graphs showing demographic information about the patients reported to testing positive. 
            Included demographic information consists of age, sex, ethnicity and race.
        </p>
    </div>
    <!-- Regression model page -->
    <div>
        <h3>Predicting Future Cases</h3> 
        <p>
            The following uses linear regression model to predict future cases in the USA. The first line graph 
            shows the progression of reported cases from January 22, 2020 to April 30, 2021. The second line graph
            shows the probable number of cases across the next year (May 4, 2021 - May 4, 2022) if the cases were to 
            progress as they did this past year further emphasizing the importance of taking precautions such as 
            wearing masks, social distancing and getting vaccinated. For more information on Covid-19 saftey visit
            the 
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019?gclid=CjwKCAjwm7mEBhBsEiwA_of-TFVj4fUDH8XBSyWnq_ZDPrLX0TTBuahGPySdOrltelSxg6qvmzo7ChoCjY0QAvD_BwE">
                World Health Organization's site</a>.

        </p>
    </div>

</body>
