<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Regression</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'caseMaps/regression.css' %}">
</head>
<body>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>

    <div id="header">
      <div id="branding">
          <h1 id="site-name">
              COVID Case Predictions: Linear Regression Model
          </h1>
      </div>
  </div>
  <div id="subheader">
      <h4 id="subheader h4">
        <a href="{% url 'home' %}" class="header-tabs"> Home </a>
        <a href="{% url 'histograms' %}" class="header-tabs"> Demographic Info </a>
        <a href="{% url 'regression' %}" class="header-tabs"> Covid Case Regression Model </a>
      </h4>
  </div>
  
    <div id="actual"></div>
    <div id="prediction"></div>

    <script>

      // based off of tutorial https://www.d3-graph-gallery.com/graph/line_basic.html
      
        //https://stackoverflow.com/questions/26067081/date-sorting-with-d3-js/26067556
        function sortdates(d1, d2) {
            return d1.date - d2.date;
        }

        // set the dimensions and margins of the graphs
        var margin = {top: 10, right: 30, bottom: 40, left: 60},
            width = 450 - (margin.left + margin.right),
            height = 400 - (margin.top + margin.bottom)
        
        // append the svg object to the body of the page
        var svg = d3.select("#actual")
          .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom+ 30)
            .style("background-color", "white")
            .style("position", "relative")
            .style("left", "10px")
            .style("top", "10px")
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");

        // append the prediction svg object to the body of the page
        let predict_left = width + margin.left + margin.right + 30;
        let predict_top = -1*(height+ margin.top + margin.bottom + 22);
        var predict_svg = d3.select("#prediction")
          .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom + 30)
            .style("background-color", "white")
            .style("position", "relative")
            .style("left", predict_left + "px")
            .style("top", predict_top + "px")
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.bottom + ")");
        
        
        // fetch data
        d3.csv("https://raw.githubusercontent.com/bkennedy2022/427Final/master/model/csv_files/actual_data.csv", function(d){
            return { 
              cases: d.tot_cases,
              date : d3.timeParse("%m/%d/%Y")(d.submission_date),
              value : d.value }
          },
        
          // create graph
          function(data) {
            // increasing date (over time)
            data = data.sort(sortdates)

            // x axis
            var x = d3.scaleTime()
              .domain(d3.extent(data, function(d) { return d.date; }))
              .range([ 0, width ]);
            svg.append("g")
              .attr("transform", "translate(0," + height + ")")
              .call(
                d3.axisBottom(x)
                  .ticks(d3.timeMonth.every(2))
                  .tickFormat(d3.timeFormat("%m-%Y")));
        
            // y axis
            var y = d3.scaleLinear()
              .domain([0, d3.max(data, function(d) {return +d.cases; })])
              .range([ height, 0 ])
            svg.append("g")
              .call(
                d3.axisLeft(y)
                  .tickFormat((val) => d3.format('.2s')(val))
                );
        
            // line
            svg.append("path")
              .datum(data)
              .attr("stroke", "steelblue")
              .attr("stroke-width", 2)
              .attr("fill", "none")
              .attr("d", d3.line()
                .x(function(d) { return x(d.date) })
                .y(function(d) { return y(d.cases) })
                )

            // x axis label
            svg.append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 0 - margin.left)
              .attr("x",0 - (height / 2))
              .attr("dy", "1em")
              .style("text-anchor", "middle")
              .text("Cases");

            // y axis label
            svg.append("text")             
              .attr("transform",
                    "translate(" + (width/2) + " ," + 
                                  (height + margin.top + 20) + ")")
              .style("text-anchor", "middle")
              .text("Date");

            // graph title
            svg.append("text")
              .attr("x", (width / 2))             
              .attr("y", 0 + margin.top)
              .attr("fill", "black")
              .attr("text-anchor", "middle")  
              .style("font-size", "16px") 
              .style("text-decoration", "underline")  
              .text("Actual US Cases Over Time")
        
        })

        // fetch data
        d3.csv("https://raw.githubusercontent.com/bkennedy2022/427Final/master/model/csv_files/pred_for_future.csv", function(d){
            return { 
              cases: d.tot_cases_pred,
              date : d3.timeParse("%Y-%m-%d")(d.date), value : d.value }
          },
        
          function(data) {
            data = data.sort(sortdates)

            // x axis
            var x = d3.scaleTime()
              .domain(d3.extent(data, function(d) { return d.date; }))
              .range([ 0, width ])

            // append x axis
            predict_svg.append("g")
              .attr("transform", "translate(0," + height + ")")
              .call(
                d3.axisBottom(x)
                  .ticks(d3.timeMonth.every(2))
                  .tickFormat(d3.timeFormat("%m-%Y"))
              )
        
            // y axis
            var y = d3.scaleLinear()
              .domain([0, d3.max(data, function(d) {return +d.cases; })])
              .range([ height, 0 ])

            // append y axis
            predict_svg.append("g")
              .call(
                d3.axisLeft(y)
                  .tickFormat((val) => d3.format('.2s')(val))
                )
        
            // line
            predict_svg.append("path")
              .datum(data)
              .attr("stroke", "red")
              .attr("stroke-width", 2)
              .attr("d", d3.line()
                .x(function(d) { return x(d.date) })
                .y(function(d) { return y(d.cases) })
              )

            // x axis title
            predict_svg.append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 0 - margin.left)
              .attr("x",0 - (height / 2))
              .attr("dy", "1em")
              .style("text-anchor", "middle")
              .text("Cases");

            // y axis label
            predict_svg.append("text")             
              .attr("transform",
                    "translate(" + (width/2) + " ," + 
                                  (height + margin.top + 20) + ")")
              .style("text-anchor", "middle")
              .text("Date");

            // graph title
            predict_svg.append("text")
              .attr("x", (width / 2))             
              .attr("y", 0 + margin.top)
              .attr("fill", "black")
              .attr("text-anchor", "middle")  
              .style("font-size", "16px") 
              .style("text-decoration", "underline")  
              .text("Predicted US Cases Over Time")
        
        })
        
        </script>
</body>